<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${arc.name}"></title>
</head>
<body>
<h1 th:text="${arc.name}"></h1>
<img th:src="@{/images/{fname}.png(fname=${#strings.toLowerCase(arc.name)})}" th:alt="${arc.name}">
<p th:text="${arc.description}"></p>
<table>
    <tr>
        <th>Can Fly</th>
        <td th:if="${arc.isCanFly}==true">✔</td>
        <td th:unless="${arc.isCanFly}==true">✘</td>
    </tr>
    <tr>
        <th>Is Stationary</th>
        <td th:if="${arc.isStationary}==true">✔</td>
        <td th:unless="${arc.isStationary}==true">✘</td>
    </tr>
    <tr>
        <th>Is Large</th>
        <td th:if="${arc.isLarge}==true">✔</td>
        <td th:unless="${arc.isLarge}==true">✘</td>
    </tr>
    <tr>
        <th>Has Legs</th>
        <td th:if="${arc.hasLegs}==true">✔</td>
        <td th:unless="${arc.hasLegs}==true">✘</td>
    </tr>
    <tr>
        <th>Needed for</th>
        <td th:each="workbench:${arc.workbenches}">
            <div th:text="${workbench}"></div>
        </td>
    </tr>
</table>
</body>
</html>